h1 {
    color: rgb(9, 9, 9);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

button {
    color: #2c1c58;
    text-decoration: solid;
    text-align: center;
    align-self: center;
}

body ()